<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Layout{% endblock %}</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                <span></span>
            </button>
            <div class="collapse" id="navbar">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    <a class="nav-item nav-link" id="signup" href="/signup">Sign Up</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                    <a class="nav-item nav-link" id="home" href="/">Home</a>
                </div>
            </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == "error" %}
            <div class="" role="alert">
                {{message}}
                <button type="button" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif category == "success" %}
            <div class="" role="alert">
                {{message}}
                <button type="button" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- <script -->
    <!--     type="text/javascript" -->
    <!--     src="{{ url_for('static', filename='index.js') }}"> -->
    <!-- </script> -->
</body>

</html>
